@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

body {
    font-size: 30px;
    background-color: white;
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}
table td, table th {
    padding: 10px;
    border: 1px solid black;
}

blockquote {
    font-style: italic;
}

h2 {
    margin: 0;
}

input, button {
    font-size: 30px;
}
